<div class="tile-wrapper">
    <div id="tile">
        <div id="front" ng-click="rotate()">
            <!-- <div class="icon"><img src="/img/suspension.png" width="50%" height="50%" alt=""/></div> -->
            <div class="name">Zawieszenie
                <span class="icon-box"><i class="icon-gearweel"></i>
                </span>
            </div>
            <div class="description">
                <div class="first-line">Kiedy coś puka/stuka</div>
                <div class="second-line">mamy na to radę</div>
            </div>
            <div class="triangle"></div>
            <i class="icon-right"></i>
        </div>
        <div id="back" ng-click="rotate()">
            <div class="header">
                <div class="icon"></div>
                <div class="name">back</div>
            </div>
            <ul class="list">
                <li class="item"></li>
            </ul>
        </div>
    </div>
</div>
