<div ng-controller="AppCtrl" class="container" ng-class="{'menu-opened': $root.opened}" router="currentRoute" ng-swipe-right="$root.opened=true" ng-swipe-left="$root.opened=false" hide-menu="$root.opened">
    <div class="header">
        <button class="menu-toggle" ng-click="$root.opened=!$root.opened"><i class="icon-menu"></i>
        </button>
    </div>
    <nav class="menu">
        <ul>
            <li ng-repeat="route in routes" route-to="route" class="menu-element" ng-class="{selected: route.selected}">
                <span class="menu-icon-box"><i class="{{route.icon}}"></i>
                </span>
                <span class="title">{{route.title}}</span>
                <span class="menu-item-line"></span>
            </li>
        </ul>
    </nav>

    <div class="content">
        <div ng-include src="currentRoute.path" class="enter-animation"></div>
    </div>
    <div class="footer">
        <span class="company footer-item">Quiz anatomiczny</span>
        <span class="copyright footer-item">&copy Wszelkie prawa zastrzeżone.</span>
        <span class="design footer-item">Design: ZaN</span>
    </div>
</div>
